@{
    ViewData["Title"] = "Home Page";
}

@* Continue from here https://youtu.be/Pi46L7UYP8I?t=6498 *@
<div class="container col-6">
    <div class="row">
        <h1 class="display-4"><i class="fas fa-book display-4 text-primary"></i> &nbsp; Welcome to the Guestbook</h1>
    </div>

    <div class="border-bottom"></div>

    <section class="my-3">
        <h1>❝News❞</h1>
        <div class="col border-info">
            <article class="col">
                <h2>New article!</h2>
                <p>
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                </p>
            </article>

            <article class="col">
                <h2>New article!</h2>
                <p>
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                    Todays news...is empty.
                </p>
            </article>
        </div>
    </section>
</div>